.item{
    width:100%;
    margin-bottom: 3%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item .item-action{
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.item i{
    margin-left: 2%;
}

.item i:hover{
    cursor: pointer;
}

.item .done {
    color: #95d6b7;
}

.item .edit{
    color: #45bfe7;
}

.item .remove{
    color: #dc5350;
}

.item.checked{
    background-color: lightgreen;
}

.item .item-edit {
    width: 90%;
}